{% extends 'base.html' %}

{% load staticfiles %}

{% block css %}
<link href="{% static 'css/index.css' %}" rel=stylesheet type="text/css"/>
<link href = "{% static 'css/managerLogin.css' %}" rel = stylesheet type = "text/css"/>
<link href="{% static 'css/subtype.css' %}" rel=stylesheet type="text/css"/>
<link href="{% static 'css/detail.css' %}" rel=stylesheet type="text/css"/>
{% endblock %}

{% block content %}
	<!-- main body -->
	<div class = "body">
		<!-- Top -->
		{% include 'top.html' %}
		<!-- main body -->
		<div>
			<div class = "new_title">详细信息</div>
			<div class = "main_auto">
				<!-- each info -->
				<div class = "margin_top2">
					<div class = "float_left">
						<div><img width="160px" height="226px" src="{{ novelDetail.image.url }}"></div>
						<div class = "text_align margin_top"> <a href = "#">{{ novelDetail.name }}</a></div>
					</div>
					<div class = "right_info float_left">
						<div>作者：{{ novelDetail.writer.account }} </div>
						<div>最新更新时间：{{ novelDetail.last_edit }} </div>
						<div>点击数：{{ novelDetail.click_count }} </div>
						{% if novelDetail.is_finish %}
							<div>是否已完结：是</div>
						{% endif %}
						{% if not novelDetail.is_finish %}
							<div>是否已完结：否</div>
						{% endif %}
						<div>类型： {{ section }} </div>
						<div>简介: {{ novelDetail.sumary }} </div>
					</div>
					<div class = "clear_float"></div>
				</div>
				<!-- chapter -->
				<div class = "margin_top2 detailDiv">
					<div class= "catalog ">目录</div>
					{% for res in chapters %}
						<div class = "catalog float_left"><a href = "{% url 'novels:chapter' res.id %}">{{ res.title }}</a></div>
					{% endfor %}
					<div class = "clear_float"></div>
				</div>
			</div>
		</div>
		<!-- bottom -->
		{% include 'bottom.html' %}
	</div>
{% endblock %}