{% extends 'base.html' %}
{% load widget_tweaks staticfiles %}

{% block css %}
<link href="{% static 'css/index.css' %}" rel=stylesheet>
<link href = "{% static 'css/managerLogin.css' %}" rel = stylesheet type = "text/css"/>
<link href = "{% static 'css/regist.css' %}" rel = stylesheet type = "text/css"/>
{% endblock %}
{% block js %}
<script type="text/javascript">
	function regist(){
        document.getElementById("frm").submit();
	}
</script>
{% endblock %}
{% block content %}
	<div class = "body">
        <div class = "top"> <img src="{{ STATIC_URL }}image/logo/logo5.png"> </div>
		<!-- main -->
		<div class = "main_height">
			<div class = "title_font">注册 >></div>
                {% if form.non_field_errors or error_message %}
                <div class="">
                    {% for error in form.non_field_errors %}
                    <p class=""><strong>{{ error }}</strong></p>
                    {% endfor %}
                    {% if error_message %}
                    <p class=""><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <p class="">Note that Password is case sensitive.'</p>
                </div>
                {% endif %}
                {% if info %}
                <div class="">
                    {% if info %}
                    <p class=""><strong>{{ info }}</strong></p>
                    {% endif %}
                </div>
                {% endif %}
			<div class = "square_border">
				<form class="regist_div" action = "." id = "frm" method = "post">{% csrf_token %}
                    <fieldset style="border: 0">
                        <label>{{ form.nickname.label }}</label>{{ form.nickname }}
                    </fieldset>
                    <fieldset style="border: 0">
                        <label>{{ form.username.label }}</label>{{ form.username }}
                    </fieldset>
                    <fieldset style="border: 0">
                        <label>{{ form.password.label }}</label>{{ form.password }}
                    </fieldset>
                    <fieldset style="border: 0">
                        <label>{{ form.confirm_pwd.label }}</label>{{ form.confirm_pwd }}
                    </fieldset>
                    <fieldset style="border: 0">
                        <label>{{ form.email.label }}</label>{{ form.email }}
                    </fieldset>
				</form>
				<div class = "regist_btns">
					<div class = "float_right margin_left2 login_btn">重置</div>
					<div class = "float_right margin_left2 login_btn" onclick="regist()">注册</div>
					<div class = "clear_float"></div>
				</div>
			</div>
		</div>
        {% include 'bottom.html' %}
	</div>
{% endblock %}